<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'core/css/clime.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/estiloFrom.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/estilos.css' %}" rel="stylesheet">
    <script src="{% static 'core/js/clima.js' %}">
    </script>
    <script src="{% static 'core/js/main.js' %}">
    </script>

</head>

<body>
    <ul>
        <li>
            <a href="{% url 'home' %}"></a>
        </li>

        <li>
            <a href="{% url 'catalogo' %}"></a>
        </li>
    </ul>

    {% block content %}{% endblock %}
</body>

</html>