{% extends 'core/base.html' %} {% load static %}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Percusion</title>
    <link href="{% static 'core/css/clime.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/estiloFrom.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/estilos.css' %}" rel="stylesheet">
    <script src="{% static 'core/js/clima.js' %}">
    </script>
    <script src="{% static 'core/js/main.js' %}">
    </script>
</head>
<body>

    <div class="logo">
        <a href="{% url 'home' %}" title="Inicio"><img src="https://www.amazingmusicpro.com/dist/images/logo.png" alt="Logo menu" width="60"></a>
     </div>


<header class="fondoServ">


<div class = "servTitle">
    <h1> Percusion </h1>
</div>

<section class = "serv">

    <p class = "services"> <strong>Bateria Tama</strong> <br> <br>
        Baterias Acusticas Tama.  </p> <br>

        <img src="" alt="">


    <p class = "services"> <strong>Bateria Pearl</strong> <br> <br>
        Baterias Acusticas Pearl.  </p> <br>

    <p class = "services"> <strong>Bateria Sonor</strong> <br>
        Baterias Sonor Acusticas.  </p> <br>

        <p class = "services"> <strong>Bateria Mapex</strong> <br>
            Baterias Mapex Acusticas.  </p> <br>

            <p class = "services"> <strong>Bateria Roland</strong> <br>
                Baterias Electricas Roland.  </p> <br>


                <p class = "services"> <strong>Bateria Alesis</strong> <br>
                    Baterias Electronicas Alesis.  </p> <br>
        


    </section>

<div class="fotoBat1">

    <img src="https://thumbs.static-thomann.de/thumb/orig/pics/bdb/458904/14587188_800.jpg" width="230" height="420" alt="Tama">

</div>
    

<div class="fotoBat2">

    <img src="https://thumbs.static-thomann.de/thumb/orig/pics/bdb/431570/13896686_800.jpg" width="250" height="500" alt="Sonor">

</div>

<div class="fotoBat3">

    <img src="https://lh3.googleusercontent.com/proxy/pLGg3Ud_Kka_WvO0qlLF2-GC9VI-G-7jN1mVopPNgYybcdrdj-6-6V6wj7d25ZG_3CZmK-XuaJ9GZOlj9IFW_YysTTJTWchF2p2ibd_jx46bWrgikgo6j7kolbQE7CRxsQOI83pPrSqV-8Kz5dNL5h-xr3ww3PWWBU6YBvHqrp1n-cC54Uul0K0ncu4" width="250" height="450" alt="Pearl">

</div>


<div class ="fotoBat4">

    <img src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F5d7ba61b0038e8036923df0f%2Fimage%2F5d7ba61b0038e8036923df0f%2Foriginal%2Fopen-uri20190913-873-161oa10.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=78c36b6e789a1873813ca36527864c22" width="280" height="450" alt="Mapex">

</div>

  
<div class="fotoBat5">

    <img src="https://m.media-amazon.com/images/I/719o5DllwqL._AC_SL1500_.jpg" width="250" height="350" alt="Alesis">

    </div>

<div class="fotoBat6">

    <img src="https://www.musik-produktiv.es/pic-010105883xl/roland-td-17kvx-v-drums-series-drumkit.jpg" width="250" height="350" alt="Roland">


   
</div>



</div>

{% endblock %}
</header>



</body>

</html>